最初に設定ある程度
#wrapper{width: 100%; position: relative; background-image: url(); background-size: cover;}
#header-wrapper{width: 100%; position: relative; background-image: url(); background-size: cover;}
#main-wrapper{width: 100%; position: relative; background-color: transparent; background-size: cover;}
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
body #wrapper{
    color: white;
    font-family: proxima-nova,sans-serif;
    letter-spacing: .1em;
    line-height: 1.5;
    background-color: black;
}
main {
    transform: translate(0, -5px);
}
#section1 .content-wrapper{
    width: 100%;
    position: relative;
    /* background-image: url(../img/03.jpg); */
    background-size:cover;
    background-position: right 75% bottom 50%;
    opacity: 0.9;
}

#section1 .container1{
    /* position: relative;
    max-width: 1100px;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.39);
    margin: auto; */
    padding: 0 9.375vw 0 6.25vw;
}

#section1 .content-container1{
    position: relative;
    max-width: 800px;
    width: 100%;
}



#section2 .content-wrapper{
    width: 100%;
    position: relative;
    /* background-image: url(../img/02.jpg); */
    background-size:cover;
    background-position: right 75% bottom 50%;
    opacity: 0.9;
}

#section2 .container{
    position: relative;
    max-width: 1100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    margin: auto;
}

#section2 .content-container{
    position: relative;
    max-width: 800px;
    width: 100%;
}

#section3 .content-wrapper{
    width: 100%;
    position: relative;
    background-image: url(../img/04.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right 80% bottom 70%;
    opacity: 0.9;
}

#section3 .container{
    position: relative;
    max-width: 1100px;
    width: 100%;
    background-color: rgba(126, 42, 165, 0.39);
    margin: auto;
}

#section3 .content-container{
    position: relative;
    max-width: 800px;
    width: 100%;
}

#section4 .content-wrapper{
    width: 100%;
    position: relative;
    background-image: url(../img/06.jpg);
    background-size:cover;
    background-position: right 50% bottom 50%;
    opacity: 0.9;
}

#section4 .container{
    position: relative;
    max-width: 1100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    margin: auto;
}

#section4 .content-container{
    position: relative;
    max-width: 800px;
    width: 100%;
}



.container2{
    width: 100%;
    position: relative;
    padding-left: 240px;
}

.content-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

a{
	color: #0090d2;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}
/* a:hover{opacity: .85;} */
a:hover img{opacity: .85;}

sup {
    vertical-align: super;
    font-size: smaller;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}



/* 特別なレイアウト */
header .content-container{
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .container{
        position: relative;
        padding-left: 0px;
        width: 100%;
        padding-right: 0;
    }

    .container2{
        width: 100%;
        position: relative;
        padding-left: 0px;
    }
}