@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
[v-cloak] {
display: none;
}
.filter {
filter: blur(1px)brightness(2);
}
.prev {
position: absolute;
top: 50%;
left: 0;
font-weight: 400;
font-family: trajan-pro-3,serif;
font-size: 20px;
letter-spacing: .02em;
line-height: 1.3;
color: white;
background-color: transparent;
font-style: italic;
border: transparent;
}
.next {
position: absolute;
top: 50%;
right: 0;
font-weight: 400;
font-family: trajan-pro-3,serif;
font-size: 20px;
letter-spacing: .02em;
line-height: 1.3;
color: white;
background-color: transparent;
font-style: italic;
border: transparent;
}
.header-bg{
    position:relative;
    width:100%;
    object-fit: cover;
    height:100%;
    opacity: 0.4;
    min-height: 610px;
}
.header-bg2{
    background-image: url(../img/01.png);
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    /* z-index: 1; */
}
.header-bg3{
    position:absolute;
    width:100%;
    object-fit: cover;
    height:100%;
    min-height: 610px;
    opacity: 0.9;
}

#header-wrapper .item-container1{
    max-width: 300px;
    width: 100%;
}

#header-wrapper .item-container1 p{
    max-width: 200px;
}
/* ドロワー */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    /* background-color: #3583bb42; */
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: all 1s;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: #183c56c9;
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all 1s;
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 1s;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 80;
    background-color: #215376c4;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    right: 0;/*メニューを画面内へ*/
}
.hamburger-menu input {
    display: none;
}
.ul .li {
    font-size: 14px;
}
.ul .li a {
    color: white;
}

#pc-dog{
    right: 5vw;
    width: 40%;
}

.link {
    font-size: 2.5vw;
    text-align: right;
}

.img-filter {
    filter: grayscale(60%) brightness(.7);
}

#lara {
    bottom: 1vw;
    left: 2vw;
    width: 100%;
    max-width: 400px;
    transform: rotate3d(10, 20, 20, 30deg);
}
#section3 .link {
    font-size: 2.5vw;
    right: 6.25vw;
    bottom: 5%;
}

#mainbar{
    margin: auto;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
}

#mainbar .item-container{
    position: relative;
    margin: auto;
    max-width: 800px;
    width: 100%;
}

#section1 {
    background-color: black; /* カラーフィルタ効果の色を指定 */
}

#section1 {
    background-color: black; /* カラーフィルタ効果の色を指定 */
}

    header ul {
        /* max-width: 700px; */
        margin-left: auto;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    ul li {
        display: block;
        position: relative;
        font-weight: 400;
        font-family: proxima-nova,sans-serif;
        font-size: 14px;
        letter-spacing: .1em;
        overflow: hidden;
        color: white;
    }

.v-application ul li a{
    color: white;
}
table {
    margin: auto;
}
#section1 .adjust {
    margin-left: 30vw;
}
#section2 .adjust {
    margin-left: 20vw;
}
#section2 .adjust2 {
    margin-left: 5vw;
}

#dog {
    float: right;
    filter: grayscale(60%) brightness(.7);
    max-width: 210px;
    margin-left: 25px;
}

.front-end {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: auto;
    padding-right: 18.375vw;
}
#vue {
    position: absolute;
    z-index: 0;
    bottom: -3vw;
    right: 7vw;
    width: 100%;
    max-width: 300px;
}
.back-end {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: auto;
    padding-left: 30.375vw;
}
#section3 .content-container1 {
    background-color: black;padding: 7.8125vw 6.25vw 6.953125vw;
}
#section3 .content-container2 {
    background-color: black;padding: 7.8125vw 0 0 6.25vw;
}
.carousel {
    position: relative;padding: 30px 75px;
}
#section5 .para {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.3vw;
    font-weight: 500;
}
footer .title{
    display: block;
    font-weight: 500;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 1;
}
footer .title_num{
    margin-right: 6%;
    font-weight: 400;
    font-family: trajan-pro-3,serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 1;
}
footer .message {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    font-weight: 400;
    font-family: trajan-pro-3,serif;
    font-size: 3.75vw;
    letter-spacing: .02em;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
}
.tra{
    font-family: trajan-pro-3,serif;
}

.tab {
    color: #e0e4e4;
    position: relative;
    overflow: hidden;
    padding-bottom: 16px;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 6vw;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.para {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.3;
    text-align: justify;
    font-family: "\6E38\30B4\30B7\30C3\30AF",YuGothic,"\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",Hiragino Kaku Gothic ProN,Noto Sans JP,sans-serif;
    font-weight: 500;
}
#main-wrapper section .title {
    display: block;
    font-weight: 500;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 1;
}
#main-wrapper section .title-container {
    margin-bottom: 2.34375vw;
}
.message {
    width: 78.125vw;
    margin-left: 3.4375vw;
    margin-bottom: 4.375vw;
    z-index: 1;
    position: relative;
    font-weight: 400;
    font-size: 3.75vw;
    letter-spacing: .02em;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
}
#special.message {
    width: 50%;
    margin-left: 0;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    font-weight: 400;
    font-family: trajan-pro-3,serif;
    font-size: 3.75vw;
    letter-spacing: .02em;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
}
.title_num{
    margin-right: 6%;
    font-weight: 400;
    font-family: trajan-pro-3,serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 1;
}
.sec_title{
    margin-bottom: 2.34375vw;
    font-family: "\6E38\660E\671D\4F53",Yu Mincho,YuMincho,"\30D2\30E9\30AE\30CE\660E\671D Pro",Hiragino Mincho Pro,"Noto Serif JP",serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .4em;
    line-height: 2;
    white-space: nowrap;
}

.page-btn{
    position: fixed;
    right: 14px;
    bottom: 14px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background: #5bc8ac;
}
.footer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    padding-top: 50px;
}

.tbl-r02 th {
    border: solid 1px #ccc;
    color: #fff;
    padding: 10px;
}
#about_me.tbl-r02 th {
    border: solid 1px #ccc;
    color: #fff;
    padding: 10px;
    background: #ff00193f;
}
.tbl-r02 td {
    border: solid 1px #ccc;
    padding: 10px;
}
#skill th {
    background: #5900ff3f;
    border: solid 1px #ccc;
    color: #fff;
    height: 10px;
    vertical-align: middle;
    height: 40px;
}
#skill td {
    border: solid 1px #ccc;
    padding: 8px;
}
table {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #section1 .adjust {
        margin-left: 0;
    }
    .para {
        line-height: 2;
    }
    #section2 .adjust {
        margin-left: 0;
    }
    .tab{
        color: #e0e4e4;
        position: relative;
        font-family: "\6E38\660E\671D\4F53",Yu Mincho,YuMincho,"\30D2\30E9\30AE\30CE\660E\671D Pro",Hiragino Mincho Pro,"Noto Serif JP",serif;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .4em;
        line-height: 2;
    }
    .tab-items{
        max-width: 450px;
        position: relative;
        height: 300px;
        margin: auto;
        margin-bottom: 100px;
    }
    .ul .li {
        width: 250px;
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .footer {
        padding-top: 0;
    }
}
@media screen and (max-width: 480px) {
    #video1 {
        min-height: 300px;
    }
    #video2 {
        min-height: 300px;
    }
    #name-logo {
        width: 40%;
    }
    #dog {
        max-width: 140px;
        margin-left: 15px;
    }
    #section1 .adjust {
        margin: 0;
    }
    .front-end {
        max-width: initial;
        padding-right: 0;
    }
    #vue {
        right: 0;
        /* max-width: initial; */
    }
    .back-end {
        max-width: initial;
        padding-left: 0;
    }
    #section3 .content-container1 {
        background-color: black;padding: 3vw 2vw;
    }
    .para {
        line-height: 5vw!important;
        padding: 0 10px;
    }
    #special2.message {
        font-size: 20px!important;
    }
    .carousel {
        padding: 0;
    }
    .tab-items {
        padding: 0 10px;
    }
    #contact{
        order: 3;
        width: 260px;
    }
    .ul .li {
        width: initial;
    }
    .tab-items {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 400px) {
    .para {
        font-size: 3vw!important;
    }
    #section3 .content-container1 {
        background-color: black;
        padding: 13vw 2vw;
    }
    .tab {
        font-size: 16px!important;
    }
}

/* transition */
.slide-appear-to{
    transform: translateY(100%);
}
.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
.slide-enter-to, .slide-leave {
    transform: translateX(0);
}
.slide-enter-active, .slide-leave-active {
    transition: opacity 1s, transform 1s;
}
.bottom-enter-active, .bottom-leave-active {
    transform: translate(0px, 0px);
    transition: opacity 2s, transform 2s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.bottom-enter, .bottom-leave-to {
    opacity: 0;
    transform: translateY(10vh) translateY(0px);
}

.carousel_modal-enter-active, .carousel_modal-leave-active {
    transition: opacity 2s;
}
.carousel_modal-enter, .carousel_modal-leave-to {
    opacity: 0;
}
.carousel-enter-active {
transition: opacity 2s cubic-bezier(1.0, 0.1, 0.3, 1.0);
}
.carousel-leave-active {
transition: opacity 2s cubic-bezier(0.5, 1.0, 1.0, 1.0);
}
.carousel-enter, .carousel-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}
.main-enter-active, .main-leave-active {
    transition: opacity 2s;
}
.main-enter, .main-leave-to {
    opacity: 0;
}
.name-enter-active, .name-leave-active {
    transition: all 5s;
}
.name-enter, .name-leave-to {
    opacity: 0;
    transform: translateX(20px);
}
.nav-enter-active, .nav-leave-active {
    transition: all 3s;
}
.nav-enter, .nav-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.logo2-enter-active, .logo2-leave-active {
    transition: all 4s;
}
.logo2-enter, .logo2-leave-to {
    opacity: 0;
    transform: translateX(40px);
}