<div class="ac-menu text-white">
    <div class="ac-header text-center">
        <h1 class="text-white p-4 h3 fw-bold">Hello</h1>
    </div>
    <div class="ac-content">
        <div class="">
            <h3 class="text-white xxxxlg fw-bold mb-1"></h3>
            <p class="text-white xlg"></p>
        </div>
    </div>
</div>
<style>
#section⚪ .content-container{
    background-color: #3648a5;
}

#section5⚪ .ac-header{
    line-height: 40px;
}

#section⚪ .ac-content{
    display: none;
}

#section⚪ .ac-menu h1{
    position: relative;
}

#section⚪ .ac-menu h1::after{
    content: "　▼　開く";
    position: absolute;
    color: #0c1428;
    right: 30px;
    background-color: #ffffff;
    font-size: 0.7em;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    text-align: left;
}

#section⚪ .ac-menu.ac-open h1::after{
    content: "　▲　閉じる";
}
</style>