<div class="ac-menu">
    <div class="ac-header p-3 flex justify-around">
      <div class="f-xlg"></div>
      <div class="ac-btn"></div>
      <div class="ac-btn-text"><span></span></div>
    </div>
    <div class="ac-content">
      <p></p>
    </div>
</div>
<script>
$(function(){
    $(".ac-header").on("click", function() {
        $(this).next().slideToggle();
        $(this).parent('.ac-menu').toggleClass('ac-open');
    });
});      
</script>

<style>
    #section⚪ .ac-menu{
        background-color: #ffffff;
    }
    #section⚪ .ac-menu.ac-open{
        /* do sth */
    }
    #section⚪ .ac-header{
        background-color: #ffffff;
        cursor:pointer;
        position: relative;
        padding: 0;
    }
    #section⚪ .ac-header{
        cursor:pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    #section⚪ .acbtn{
        position: relative;
        padding-right: 0;
    }

    #section⚪ .ac-btn-text{
        max-width: 100px;
        width: 100%;
        z-index: 20;
        right: 0;
        padding-right: 0;
    }
    #section⚪ .ac-content{
        display: none;
    }
</style>