<div class="flex wrap">

    <div class="card">
        <div class="card-img"></div>
        <div class="card-content p-2">
            <h2 class="mb-1 f-xlg"></h2>
            <p class="list"></p>
        </div>
    </div>

</div>

<style>
    #section⚪ .card{
        background-color: #fff;
        max-width: 0px;
        width: 100%;
    }

    #section⚪ .card:first-child{
        background-image: url();
    }
    #section⚪ .card:nth-child(2){
        background-image: url();
    }
</style>