<div class="prof">
    <figure>
    <img src="" alt="" />
    <figcaption> </figcaption>
    </figure>
    <p class="txt"> 井上領（INOUE RYO）<br>
   </p>
</div>

<style>
.prof {
    border: solid 1px #ccc;
    padding: 20px 20px 0;
    overflow: hidden;
}
.prof figure {
    width: 120px;
    float: left;
    margin-right: 20px;
}
figure {
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
img {
    height: auto;
    max-width: 100%;
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.prof .txt {
    margin-bottom: 20px;
}
p {
    line-height: 2;
    margin: 0 0 10px 0;
}
</style>