/* @import url('https://fonts.googleapis.com/css?family=Proxima+Nova'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.link {
    font-size: 2.5vw;
    text-align: right;
}


ul li {
    display: block;
    position: relative;
    font-weight: 400;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    letter-spacing: .1em;
    overflow: hidden;
    color: white;
}

.v-application ul li a {
    color: white;
}

.message {
    margin-left: 40px;
    position: relative;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: .02em;
    line-height: 1.3;
    white-space: nowrap;
    /* overflow: hidden; */
}

.adjust {
    margin-left: 10vw;
}

.adjust2 {
    margin-left: 5vw;
}

.para {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.3;
    text-align: justify;
    font-family: "\6E38\30B4\30B7\30C3\30AF",YuGothic,"\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",Hiragino Kaku Gothic ProN,Noto Sans JP,sans-serif;
    font-weight: 500;
}

.sec_title {
    margin-bottom: 20px;
    font-family: "\6E38\660E\671D\4F53",Yu Mincho,YuMincho,"\30D2\30E9\30AE\30CE\660E\671D Pro",Hiragino Mincho Pro,"Noto Serif JP",serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .2em;
    line-height: 2;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .link {
        font-size: 4vw;
    }
    .para {
        line-height: 2;
    }
    .tab {
        color: #e0e4e4;
        position: relative;
        font-family: "\6E38\660E\671D\4F53",Yu Mincho,YuMincho,"\30D2\30E9\30AE\30CE\660E\671D Pro",Hiragino Mincho Pro,"Noto Serif JP",serif;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .4em;
        line-height: 2;
    }
    .tab-items{
        max-width: 450px;
        position: relative;
        height: 300px;
        margin: auto;
        margin-bottom: 100px;
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .footer {
        padding-top: 0;
    }
    .message {
        margin: 0;
        font-size: 28px;
        text-align: center;
    }
    .adjust {
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .link {
        font-size: 5vw;
    }
    .message {
        font-size: 5.2vw;
    }
    .adjust {
        margin-left: 0;
    }
    #name-logo {
        width: 40%;
    }
    #dog {
        max-width: 140px;
        margin-left: 15px;
    }
    .front-end {
        max-width: initial;
        padding-right: 0;
    }
    #vue {
        right: 0;
        /* max-width: initial; */
    }
    .back-end {
        max-width: initial;
        padding-left: 0;
    }
    .para {
        line-height: 5vw!important;
        padding: 0 10px;
    }
    #special2.message {
        font-size: 20px!important;
    }
    .carousel {
        padding: 0;
    }
    .tab-items {
        padding: 0 10px;
    }
    #contact{
        order: 3;
        width: 260px;
    }
    .ul .li {
        width: initial;
    }
    .tab-items {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 400px) {
    .para {
        font-size: 3vw!important;
    }
    .tab {
        font-size: 16px!important;
    }
}

/* transition */
.slide-appear-to{
    transform: translateY(100%);
}
.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
.slide-enter-to, .slide-leave {
    transform: translateX(0);
}
.slide-enter-active, .slide-leave-active {
    transition: opacity 1s, transform 1s;
}
.bottom-enter-active, .bottom-leave-active {
    transform: translate(0px, 0px);
    transition: opacity 2s, transform 2s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.bottom-enter, .bottom-leave-to {
    opacity: 0;
    transform: translateY(10vh) translateY(0px);
}

.carousel_modal-enter-active, .carousel_modal-leave-active {
    transition: opacity 2s;
}
.carousel_modal-enter, .carousel_modal-leave-to {
    opacity: 0;
}
.carousel-enter-active {
transition: opacity 2s cubic-bezier(1.0, 0.1, 0.3, 1.0);
}
.carousel-leave-active {
transition: opacity 2s cubic-bezier(0.5, 1.0, 1.0, 1.0);
}
.carousel-enter, .carousel-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}
.main-enter-active, .main-leave-active {
    transition: opacity 2s;
}
.main-enter, .main-leave-to {
    opacity: 0;
}
.name-enter-active, .name-leave-active {
    transition: all 5s;
}
.name-enter, .name-leave-to {
    opacity: 0;
    transform: translateX(20px);
}
.nav-enter-active, .nav-leave-active {
    transition: all 3s;
}
.nav-enter, .nav-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.logo2-enter-active, .logo2-leave-active {
    transition: all 4s;
}
.logo2-enter, .logo2-leave-to {
    opacity: 0;
    transform: translateX(40px);
}